<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PRJ321x_A3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>Controller</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <context-param>
    <param-name>userX</param-name>
    <param-value>duyanh@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>passX</param-name>
    <param-value>Hothiennga@123</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Account</display-name>
    <servlet-name>Account</servlet-name>
    <servlet-class>beans.Account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/Account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatasourceDemo</display-name>
    <servlet-name>DatasourceDemo</servlet-name>
    <servlet-class>context.DatasourceDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatasourceDemo</servlet-name>
    <url-pattern>/DatasourceDemo</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>Oracle Datasource example</description>
    <res-ref-name>jdbc/ShoppingDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>DataSource</display-name>
    <servlet-name>DataSource</servlet-name>
    <servlet-class>context.DataSource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataSource</servlet-name>
    <url-pattern>/DataSource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>controller.LoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet2ForAdmin</display-name>
    <servlet-name>LoginServlet2ForAdmin</servlet-name>
    <servlet-class>controller.LoginServlet2ForAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet2ForAdmin</servlet-name>
    <url-pattern>/LoginServlet2ForAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>a</display-name>
    <servlet-name>a</servlet-name>
    <servlet-class>controller.a</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>controller.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InformationProductController</display-name>
    <servlet-name>InformationProductController</servlet-name>
    <servlet-class>controller.InformationProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationProductController</servlet-name>
    <url-pattern>/InformationProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayController</display-name>
    <servlet-name>PayController</servlet-name>
    <servlet-class>controller.PayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayController</servlet-name>
    <url-pattern>/PayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController2</display-name>
    <servlet-name>SearchController2</servlet-name>
    <servlet-class>controller.SearchController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController2</servlet-name>
    <url-pattern>/SearchController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProductDAO</display-name>
    <servlet-name>ListProductDAO</servlet-name>
    <servlet-class>dao.ListProductDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductDAO</servlet-name>
    <url-pattern>/ListProductDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet3</display-name>
    <servlet-name>LoginServlet3</servlet-name>
    <servlet-class>controller.LoginServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet3</servlet-name>
    <url-pattern>/LoginServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProductDAO1</display-name>
    <servlet-name>ListProductDAO1</servlet-name>
    <servlet-class>dao.ListProductDAO1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductDAO1</servlet-name>
    <url-pattern>/ListProductDAO1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add</display-name>
    <servlet-name>add</servlet-name>
    <servlet-class>controller.add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMoreController</display-name>
    <servlet-name>AddMoreController</servlet-name>
    <servlet-class>controller.AddMoreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMoreController</servlet-name>
    <url-pattern>/AddMoreController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCartFromDb</display-name>
    <servlet-name>ShowCartFromDb</servlet-name>
    <servlet-class>controller.ShowCartFromDb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCartFromDb</servlet-name>
    <url-pattern>/ShowCartFromDb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCart</display-name>
    <servlet-name>ShowCart</servlet-name>
    <servlet-class>controller.ShowCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCart</servlet-name>
    <url-pattern>/ShowCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackController</display-name>
    <servlet-name>BackController</servlet-name>
    <servlet-class>controller.BackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackController</servlet-name>
    <url-pattern>/BackController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCartOrder</display-name>
    <servlet-name>ShowCartOrder</servlet-name>
    <servlet-class>controller.ShowCartOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCartOrder</servlet-name>
    <url-pattern>/ShowCartOrder</url-pattern>
  </servlet-mapping>
</web-app>